@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Colors */
/* #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */

/* General */

html {
    font-family: 'Roboto';
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-size: 80px;
    width: 50%;
}

h3 {
    color: #dddddd;
    font-size: 36px;
}

a {
    color: #ff3571;
    padding-top: 5%;
    font-weight: 700;
    position: absolute;
}

/* Images */

.steps {
    max-height: 25px;
    max-width: 25px;
    margin-right: 20px;
}

#gallery img {
    max-width: 100%;
    max-height: 100%;
}

/* nav */

nav {
    display: flex;
    position: fixed;
    padding-top: 20px;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

nav img {
    margin-left: 20px;
}

nav div {
    margin-left: 1.5%;
}

/* Header */

header {
    position: relative;
    min-height: 100vh;
    height: 70vh;
    background-image: url(/assets/img/ilustracion1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

header span {
    font-weight: bold;
}

.FlyingBoy {
    /* position: absolute; */
    top: 0%;
    right: 0%;
    animation-name: meine-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.FlyingBoy img {
    height: 70%;
    width: 70%;
    /* transform: translate(550px, 50px); */
    transform: translate(45%, 0%);
    /* transform: translate(15vw, -20vh); */ 
} 

.intro {
    z-index: 10;
    margin-top: -35%;
    padding-left: 2%;
    scroll-behavior: smooth;
    position: absolute;
}

.intro img {
    width: 30px;
    height: 30px;
}

/* Main */

/* General part1 */
.general_part1 {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0px;
}
.general_part1 div:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 30px;
}

.general_part1 div:nth-of-type(1) img {
    max-height: 50px;
}

.general_part1 div:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 10%;
    padding-top: 20px;
    line-height: 1.5;
    max-width: 70%;
}

.general_part1 div:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 3% 0%;
    font-size: 40px;
    width: 60%;
}

/* General part2 */

.general_part2 {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.group h4 {
    margin-left: 20px;
}

.ready {
    padding-left: 2%;
    margin-top: 4%;
    text-align: center;
}

.ready h2 {
    font-size: 46px;
    margin-bottom: 2%;
}
.general_part2 p {
    width: 50%;
    line-height: 1.5;
    padding-top: 2%;
    padding-left: 65px;
}


/* Right side */

.projectRight {
    padding-left: 2%;
    line-height: 1.5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 40%;
    gap: 0px;
}

.projectRight div:nth-of-type(1) {
    max-width: 70%;
    align-content: center;
}

.projectLeft {
    padding-left: 2%;
    line-height: 1.5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 50%;
    gap: 0px;
}

.projectLeft div:nth-of-type(2) {
    max-width: 70%;
    align-content: center;
    padding-left: 5%;
}

.subscribe {
    text-align: center;
}

.subscribe h2 {
    font-size: 40px;
    padding: 30px 0px;
}

.subscribe .form {
    width: 20%;
    background-color: red;
}

section .bigImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Form */

input[type=email] {
    border: none;
    color: #0b0c17;
    padding: 15px 75px;
    border-radius: 3px;
}

input[type=submit] {
    margin-top: 10px;
    background-color: #ff3571;
    border: none;
    color: #FFF;
    padding: 5px 55px;
    border-radius: 3px;
}

/* Footer */

/* Animation */

@keyframes meine-animation {
    0%
        {
            transform: translateY(10px);
        }
    100%
        {
            opacity: 1; 
            transform: translateY(20px);
      }  
} 

/*  */

/* Mediaqueries */
